@import url(http://fonts.googleapis.com/css?family=Lato);
#expand_button_container {
  margin: 0 auto;
  margin-bottom: 17px;
  font-family: lato;
  width: 300px;
}
#expand_button_container .close_circle {
  border: 2px solid #9b2631;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 296px;
  margin: 24px auto;
  cursor: pointer;
}
#expand_button_container .close_circle .xbutton {
  font-size: 1.5em;
  display: block;
  text-align: center;
  padding-top: 14px;
  color: #9b2631;
}
 
.expand_button {
  width: 300px;
  height: 30px;
  border: 1px solid #142330;
  padding: 8px 0 0 15px;
  cursor: pointer;
}
.expand_button span {
  color: #142330;
}
.expand_button .button_close {
  float: right;
  margin-right: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}