@import url(http://fonts.googleapis.com/css?family=Lato);
 
$darkerblue: #142330;
$winered: #9b2631;
 
#expand_button_container {
	margin: 0 auto;
	margin-bottom: 17px;
	font-family:  lato;
	width: 300px;
 
	.close_circle {
		border: 2px solid rgba(155,38,49,1);
		border-radius: 50%;
		width: 62px;
		height: 62px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size:296px;
		margin: 24px auto;
		cursor:pointer;
 
		.xbutton {
			font-size: 1.5em;
			display:block;
			text-align: center;
			padding-top:14px;
			color: rgba(155,38,49,1);
		}
	}
}
 
.expand_button {
	width:91%;
	height:30px;
	border: 1px solid $darkerblue;
	padding: 0 4%;
	cursor:pointer;
	height: 40px;
 
	span{
		color: $darkerblue;
	}
	
	> p {
		line-height: 50%;
	}
 
	.button_close {
		float:right; 
		display: block;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		font-size: 90%;
	}
	
	#slider_div > ul {
		padding-left: 0;
		margin: 0;
		list-style: none;
		
		>li {
			margin-bottom: 20px;
			
			p {
				margin-top: 0px;
				margin-bottom: 5px;
			}
		}
	}
}